version: '3'
services:
  termo-app:
    networks:
      - termo-network
    links:
      - termo-db
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "3000:3000"
    depends_on:
      - db
  termo-db:
    networks:
      - termo-network
    image: postgres:alpine
    env_file:
      - .env
    ports:
      - "5432:5432"

networks:
  termo-network:
    driver: bridge